.container {
  height: 100%;
}

.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5px;
}

.tilerow {
  display: flex;
}

.tile {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 2px solid #d3d6da;
  margin: 2.5px;
  font-size: 32px;
}

.tile.filled {
  animation: pop 0.08s linear;
  border-color: #878a8c;
}

.tile.gray {
  background: #787c7e;
  color: #fff;
  border: 0;
}

.tile.yellow {
  background: #c9b458;
  color: #fff;
  border: 0;
}

.tile.green {
  background: #6aaa64;
  color: #fff;
  border: 0;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.row > button {
  width: 43px;
  height: 58px;
  font-weight: 700;
  font-size: 13.33px;
  background: #d3d6da;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 4px 3px;
  outline: none;
}

.row > button.yellow {
  background: #c9b458;
  color: #fff;
}

.row > button.green {
  background: #6aaa64;
  color: #fff;
}

.row > button.wide {
  width: 65.4px;
  font-size: 12px;
}

.words {
  display: flex;
  justify-content: center;
}

.guesses, .answers {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pop {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
